@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <p class="lead">Welcome, Please Sign In/Register to Buy/Sell Properties</p>
</div>

<h3>List Of Properties for Sale</h3>
    <div ng-app="PropertiesModule" ng-controller="PropertiesController">

        <div ng-repeat="p in PropertyList">

            <div class="col-md-5 col-md-offset-1 table-striped">
                
                Address :{{p.Description}}
                <br />
                Price: £{{p.Price}}

            </div>
        </div>
    </div>

<script src="~/Scripts/SPA/Properties.js"></script>